body{
  background-color: lightgrey;
  color: black;
}

#results{
  color: red;
}

#download-matches-link, #download-talent-link, #download-search-results-link {
  display: none;
}

#export-csv{
  margin-left: 10px;
}

button{
  /*margin: 15px*/
}

body{
  padding: 20px
}

.type, input{
  display:inline
}

#spinner{
  display: none
}

.match-row{
  display: inline !important

}

#userFileUpload{
  margin:0px;
}

#app{
  display: none
}
