body{
  background-color: lightgrey;
  color: black;
}

#results{
  color: red;
}

#download-matches-link, #download-talent-link {
  display: none;
}

#export-csv{
  margin-left: 10px;
}

button{
  /*margin: 15px*/
}

body{
  padding: 20px
}

.type, input{
  display:inline
}
